body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif !important;
  background-color: #F8F7FA !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    box-shadow: 0 0 0 30px white inset !important;
}

.ant-checkbox .ant-checkbox-inner {
  width: 20px;
  height: 20px;
  border: 1px solid #33cccc;
}

.ant-checkbox-disabled .ant-checkbox-inner {
  width: 20px;
  height: 20px;
  background-color: gray;
  border-color: gray;
}

.ant-checkbox-checked .ant-checkbox-inner {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-color: red;
}
.ant-checkbox-checked .ant-checkbox-inner::after {
  width: 7px;
  height: 11px;
}

body::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #33cccc; 
}


.ant-picker-panel-container .ant-picker-panels {
  display: flex;
  flex-wrap: wrap !important;
}

ul {
  margin-top: auto !important;
}

.ant-btn-primary {
  background-color: #33cccc !important;
  border-color: #33cccc !important;
}

.ant-btn:hover {
  border-color: #33cccc !important;
  color: #fff !important;
}